@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
select option {
  background-color: #000;
  color: #fff;
}

select option:checked {
  background-color: #fbbf24;
  color: #000;
}